.container {
    inline-size: 85%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(252, 252, 247, 0.295);
    padding: 1rem;
    border-radius: .6rem;
}

.container1 {
    inline-size: 98%;
    margin: auto;
    background-color: rgba(246, 246, 248, 0.295);
    padding: 1rem;
    border-radius: .6rem;
}

table {
    inline-size: 100%;

}

.mat-form-field {
    inline-size: 100%;
}

button {
    inline-size: 100%;

}

h1,
p {
    inline-size: 100%;
    text-align: center;
    margin-block-end: 2 rem;
    border-radius: 2rem;
}

p {
    margin-block-start: 4rem;
    opacity: .5;
}

.edit {
    color: rgb(8, 133, 133);
}

.delete {
    color: red;
}

.view {
    color: rgb(94, 41, 218);
}