<div>
  <div class="container">
    <h1>TAXA DE CONDOMÍNIO</h1>

    <button routerLink="create" class="mat-elevation-z8" mat-stroked-button>
      CRIAR TAXA
    </button>

    <mat-form-field class="container1">
      <mat-label>PESQUISAR MORADOR</mat-label>
      <input
        matInput
        (keyup)="applyFilter($event)"
        placeholder="Digite dados do Morador"
        #input />
    </mat-form-field>

    <div class="mat-elevation-z8">
      <table class="container1" mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="idTaxaCondominio">
          <th mat-header-cell *matHeaderCellDef>ID</th>
          <td mat-cell *matCellDef="let element">
            {{ element.idTaxaCondominio }}
          </td>
        </ng-container>

        <ng-container matColumnDef="condomino">
          <th mat-header-cell *matHeaderCellDef>MORADOR</th>
          <td mat-cell *matCellDef="let element">
            {{ element.condomino.nome }}
          </td>
        </ng-container>

        <ng-container matColumnDef="statusTaxaPagamento">
          <th mat-header-cell *matHeaderCellDef>STATUS DO PAGAMENTO</th>
          <td mat-cell *matCellDef="let element">
            {{ element.statusTaxaPagamento }}
          </td>
        </ng-container>

        <ng-container matColumnDef="dataPagamento">
          <th mat-header-cell *matHeaderCellDef>DATA DO PAGAMENTO</th>
          <td mat-cell *matCellDef="let element">
            {{ element.dataPagamento }}
          </td>
        </ng-container>

        <ng-container matColumnDef="acoes">
          <th mat-header-cell *matHeaderCellDef>AÇÔES</th>
          <td mat-cell *matCellDef="let element">
            <a routerLink="update/{{ element.idTaxaCondominio }}">
              <i class="material-icons edit">edit</i>
            </a>
            <a routerLink="delete/{{ element.idTaxaCondominio }}">
              <i class="material-icons delete">delete</i>
            </a>
            <a routerLink="view/{{ element.idTaxaCondominio }}">
              <i class="material-icons view">visibility</i>
            </a>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <mat-paginator class="container1" [pageSizeOptions]="[7, 10, 20]">
      </mat-paginator>
    </div>
  </div>
</div>
