<div class="container mat-elevation-z8">
  <form class="form">
    <h1 class="fullWildth">CRIAR</h1>

    <div>
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>SELECIONE UM MORADOR</mat-label>
        <mat-select [(ngModel)]="taxa.idCondomino" name="idCondomino">
          <mat-option
            *ngFor="let con of condominos"
            value="{{ con.idCondomino }}"
            >{{ con.nome }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>SELECIONE UM STATUS</mat-label>
        <mat-select
          [(ngModel)]="taxa.statusTaxaPagamento"
          name="statusTaxaPagamento">
          <mat-option value="0">ABERTO</mat-option>
          <mat-option value="1">pagoComDesconto</mat-option>
          <mat-option value="2">pagoSemDesconto</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <mat-form-field class="fullWildth" appearance="fill">
      <mat-label>VALOR</mat-label>
      <input
        [(ngModel)]="taxa.valor"
        name="valor"
        required
        matInput
        placeholder="Ex..250" />
      <mat-icon matSuffix>euro_symbol</mat-icon>
    </mat-form-field>
  </form>
  <button
    (click)="create()"
    class="fullWildth mat-elevation-z8"
    mat-stroked-button
    color="warn">
    CADASTRAR
  </button>

  <button
    routerLink="../"
    class="fullWildth mat-elevation-z8"
    mat-stroked-button>
    VOLTAR
  </button>
</div>
