<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side" opened>
    <img src="assets/imagem/cabana.svg" alt="Imagem de navegação" />
    <mat-nav-list class="nav-list">
      <br />

      <a mat-list-item routerLink="condominos"> <h2>CONDÔMINOS</h2> </a>

      <br />
      <a mat-list-item routerLink="taxas"> <h2>TAXA DE CONDOMÍNIO</h2> </a>

      <br />
      <a mat-list-item routerLink="despesas"> <h2>CONTAS</h2> </a>

      <br />
      <a mat-list-item routerLink=""> <h2>ADMINISTRADORES</h2> </a>
    </mat-nav-list>
  </mat-drawer>

  <div class="sidenav-content">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
