<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side" opened>
    <img src="assets/imagem/cabana.svg" alt="Imagem de navegação" />
    <mat-nav-list class="nav-list">
      <br />

      <a mat-list-item routerLink="condominos">
        <i class="material-icons">home</i> CONDÔMINOS
      </a>

      <br />
      <a mat-list-item routerLink="">
        <i class="material-icons">home</i>ADMINISTRADORES
      </a>

      <br />
      <a mat-list-item routerLink="">
        <i class="material-icons">home</i> TAXA DE CONDOMÍNIO
      </a>

      <br />
      <a mat-list-item routerLink="">
        <i class="material-icons">home</i> CONTAS
      </a>
    </mat-nav-list>
  </mat-drawer>

  <div class="sidenav-content">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
