<div class="container mat-elevation-z8">
  <div class="form">
    <h1 class="fullWildth">ATUALIZAR MORADOR</h1>

    <mat-form-field class="fullWildth" appearance="fill">
      <mat-label>NOME</mat-label>
      <input
        [(ngModel)]="condomino.nome"
        nome="nome"
        [formControl]="nome"
        [disabled]="true"
        matInput
        placeholder="Ex... Fabio Santos Oliveira"
        maxlength="50" />
      <mat-icon matSuffix>badge</mat-icon>
    </mat-form-field>

    <mat-form-field class="fullWildth" appearance="fill">
      <mat-label>CONTATO</mat-label>
      <input
        [(ngModel)]="condomino.contato"
        nome="contato"
        [formControl]="contato"
        [disabled]="true"
        matInput
        placeholder="Ex...61 999999999" />
      <mat-icon matSuffix>dialpad</mat-icon>
    </mat-form-field>

    <mat-form-field class="fullWildth" appearance="fill">
      <mat-label>EMAIL</mat-label>
      <input
        [(ngModel)]="condomino.email"
        nome="email"
        [formControl]="email"
        [disabled]="true"
        matInput
        placeholder="Ex..fabio@mail.com" />
      <mat-icon matSuffix>alternate_email</mat-icon>
    </mat-form-field>

    <mat-form-field class="fullWildth" appearance="fill">
      <mat-label>UNIDADE</mat-label>
      <input
        [(ngModel)]="condomino.unidade"
        nome="unidade"
        [formControl]="unidade"
        [disabled]="true"
        matInput
        placeholder="Ex...123456" />
      <mat-icon matSuffix>vpn_key</mat-icon>
    </mat-form-field>

    <button
      routerLink="../../"
      class="fullWildth mat-elevation-z8"
      mat-stroked-button>
      VOLTAR
    </button>
  </div>
</div>
